.jumbotron {
	min-height: 800px;
	position: relative;
}

#final-btn, 
#submitAnswer,
#next-btn {
	position: absolute;
	top: 200px;
	width: 115px;
}

#start-btn {
	position: absolute;
	top: 200px;
	width: 115px;
}

#gif {
	position: absolute;
	top: 300px;
	left: 150px; 
}

